.signUp {
    max-width: 300px;
    padding: 70px;
    margin-right: auto;
    margin-left: auto;
    margin-top: -70px;
    background-color: rgba(0, 0, 0,0.85);
}

.signUp > form > h1 {
    text-align: left;
    margin-bottom: 25px;
}

.signUp__gray {
    color: gray;
}

.signUp > form > h4 {
    text-align: left;
    margin-top: 30px;
}

.signUp > form {
    display: flex;
    flex-direction: column;
}

.signUp > form > input {
    outline-width: 0;
    height: 40px;
    margin-bottom: 14px;
    border-radius: 5px;
    border: none;
    padding: 5px 15px;
}

.signUp > form > button {
    padding: 16px 20px;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    border-radius: 5px;
    background-color: #e50914;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.signUp__link:hover {
    cursor: pointer;
    text-decoration: underline;
    
}
